<% include ../partials/header %>

<div class="page-content-wrapper">
      <!-- BEGIN CONTENT BODY -->
      <div class="page-content">
          <h1 class="page-title"> Movies
          </h1>
  </div>
  <!-- END CONTENT -->
</div>

<% include ../partials/footer %>
